<div id="queues">
	<dl>
		<dt class="disclookup">Disc lookup</dt>
		<dd class="disclookup">-</dd>
		<dt class="discreleaseslookup">Disc releases lookup</dt>
		<dd class="discreleaseslookup">-</dd>
		<dt class="discreleasemapping">Disc release mapping</dt>
		<dd class="discreleasemapping">-</dd>
		<dt class="releaseartwork">Release artwork</dt>
		<dd class="releaseartwork">-</dd>
	</dl>
</div>


<div id="discs">
</div>

<div id="errors">
</div>

<script type="text/javascript">
(function ($) {
	var socket = io.connect('http://127.0.0.1:9090');


	socket.on('scanning', function () {
		console.log('scanning');
	});

	socket.on('scanningcomplete', function () {
		console.log('scanning complete');
	});

	socket.on('queueupdate', function (queue, len) {
		$('dl dd.' + queue).text(len);
	});

	socket.on('disc', function (disc) { });

	socket.on('release', function (discId, release) {
		var discEl = $('.disc.disc-' + discId.replace(/[^a-z0-9]+/ig, ''));
		
		if (!discEl[0]) {
			$.ajax({
				'url' : '/disc/' + discId, 
				'success' : function (data) {
					$('#discs').append(data);
				}
			});
		}
	});
})(jQuery);
	</script>
