<div id="connection">&middot;</div>
<div id="scanning">&middot;</div>
<div id="queues">
	<dl>
		<dt class="disclookup">Disc lookup</dt>
		<dd class="disclookup">-</dd>
		<dt class="discreleaseslookup">Disc releases lookup</dt>
		<dd class="discreleaseslookup">-</dd>
		<dt class="discreleasemapping">Disc release mapping</dt>
		<dd class="discreleasemapping">-</dd>
		<dt class="releaseartwork">Release artwork</dt>
		<dd class="releaseartwork">-</dd>
	</dl>
</div>


<div id="discs">
</div>

<div id="errors">
</div>

<script type="text/javascript">
(function ($) {
	var discQueue = new ReadyList();
	var releaseQueue = new ReadyList();
	var socket = io.connect('http://127.0.0.1:9090');

	socket.on('connect', function () {
		$('#connection').addClass('connected');
	});
	socket.on('reconnect', function () {
		$('#connection').addClass('connected');
	});
	socket.on('disconnect', function () {
		$('#connection').removeClass('connected');
	});

	socket.on('scanning', function () {
		$('#scanning').addClass('scanning');
	});

	socket.on('scanningcomplete', function () {
		$('#scanning').removeClass('scanning');
	});

	socket.on('queueupdate', function (queue, len) {
		$('dl dd.' + queue).text(len);
	});

	socket.on('disc', function (disc) { });

	socket.on('release', function (discId, release) {
		discQueue.add(discId, true, function (data) {
			var releaseId = release.id;

			releaseQueue(releaseId, true, function (data) {
			});

			if (!releaseQueue.isBusy(releaseId)) {
				releaseQueue.busy(releaseId, true);
			}
		});

		if (!discQueue.isBusy(discId)) {
			discQueue.busy(discId, true);

			$.ajax({
				'url' : '/disc/' + discId, 
				'success' : function (data) {
					$('#discs').append($(data));
					discQueue.ready(discId, true);
				}
			});
		}
	});
})(jQuery);
	</script>
