<div id="connection">&middot;</div>
<div id="scanning">&middot;</div>
<div id="queues">
	<dl>
		<dt class="disclookup">Disc lookup</dt>
		<dd class="disclookup">-</dd>
		<dt class="discreleaseslookup">Disc releases lookup</dt>
		<dd class="discreleaseslookup">-</dd>
		<dt class="discreleasemapping">Disc release mapping</dt>
		<dd class="discreleasemapping">-</dd>
		<dt class="releaseartwork">Release artwork</dt>
		<dd class="releaseartwork">-</dd>
	</dl>
</div>


<div id="discs">
</div>

<div id="errors">
</div>

<script type="text/javascript">

function normalize (str) {
	return str.replace(/[^a-z0-9]+/ig, '');
}

(function ($) {
	var discQueue = new ReadyList();
	var releaseQueue = new ReadyList();
	var socket = io.connect('http://127.0.0.1:9090');

	$('#scanning').click(function () {
		$.ajax({ 'url' : '/api/scan' });
	});

	socket.on('connect', function () {
		$('#connection').addClass('connected');
	});
	socket.on('reconnect', function () {
		$('#connection').addClass('connected');
	});
	socket.on('disconnect', function () {
		$('#connection').removeClass('connected');
	});

	socket.on('scanning', function () {
		$('#scanning').addClass('scanning');
	});

	socket.on('scanningcomplete', function () {
		$('#scanning').removeClass('scanning');
	});

	socket.on('queueupdate', function (queue, len) {
		$('dl dd.' + queue).text(len);
	});

	socket.on('disc', function (discId) { });

	socket.on('albumart', function (releaseId) {
		var release = $('.release.release-' + normalize(releaseId));
		if (!release[0]) return;

		var img = release.find('.albumart img');
		img.attr('src', '/albumart/' + releaseId);
	});

	socket.on('release', function (discId, releaseId) {

		var disc;
		var release;

		releaseQueue.add(releaseId, true, function (rData, rDone) {
			discQueue.add(discId, true, function (dData, dDone) {
				var r = $('.release.release-' + normalize(releaseId));
				if (r[0]) {
					var d = r.parents('.disc:first');
					d.addClass('disc-' + normalize(discId));
					d.data('discids', d.data('discids') + ' ' + discId)
					d.find('.ids:first').append($('<span class="discid">' + discId + '</span>'));
					dDone();

				} else {
					if (!$('.disc.disc-' + normalize(discId))[0]) {
						$('#discs').append($(disc));
					}
					dDone();

					var d = $('.disc.disc-' + normalize(discId));
					d.find('.releases:first').append($(release));
				}

				r = d.find('.release.release-' + normalize(releaseId));
				var md = r.find('.medium.disc-' + normalize(discId) + ' .discid');
				if (md[0]) {
					md.html(discId.substr(0, 5));
				}
				rDone();
			});

			if (!discQueue.isBusy(discId)) {
				discQueue.busy(discId, true);
				
				$.ajax({
					'url' : '/disc/' + discId, 
					'success' : function (html) {
						disc = $(html);
						discQueue.ready(discId, true);
					}
				});
			}
		});

		if (!releaseQueue.isBusy(releaseId)) {
			releaseQueue.busy(releaseId, true);

			$.ajax({
				'url' : '/release/' + releaseId, 
				'success' : function (html) {
					release = $(html);
					releaseQueue.ready(releaseId, true);
				}
			});
		}
	});

	function selectRelease (discId, releaseId) {
		$.ajax({ 'url' : '/api/setdiscrelease/' + discId + '/' + releaseId });
	}

	$('.release .buttons .select').live('click', function () {
		var releaseId = $(this).parents('.release').data('releaseid');
		var discIds = $(this).parents('.disc').data('discids').trim().split(' ');

		for (var i = 0; i < discIds.length; i++) {
			selectRelease(discIds[i], releaseId);			
		}
	});
})(jQuery);
	</script>
