<div id="queues">
	<dl>
		<dt class="disclookup">Disc lookup</dt>
		<dd class="disclookup">-</dd>
		<dt class="discreleaseslookup">Disc releases lookup</dt>
		<dd class="discreleaseslookup">-</dd>
		<dt class="discreleasemapping">Disc release mapping</dt>
		<dd class="discreleasemapping">-</dd>
		<dt class="releaseartwork">Release artwork</dt>
		<dd class="releaseartwork">-</dd>
	</dl>
</div>


<div id="discs">
</div>

<div id="errors">
</div>
