body {
	background-color: #000;
	color: #fff;
	font-family: monospace;
	font-size: 14px;
}

#connection {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 18px;
	width: 18px;
	line-height: 18px;
	text-align: center;
	background-color: #1c1c1c;
	border: 1px solid #333;
	border-radius: 3px;
	color: #fe2e64;
}

#connection.connected {
	border: 1px solid #64fe2e;
	color: #64fe2e;
}

#scanning {
	position: absolute;
	top: 10px;
	right: 35px;
	height: 18px;
	width: 18px;
	line-height: 18px;
	text-align: center;
	background-color: #1c1c1c;
	border: 1px solid #333;
	border-radius: 3px;
	color: #fe2e64;
	cursor: pointer;
}

#scanning.scanning {
	border: 1px solid #64fe2e;
	color: #64fe2e;
}

#queues dl {
	position: absolute;
	top: 10px;
	right: 60px;
}

#queues dl {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#queues dl dt {
	display: none;
}

#queues dl dd {
	float: left;
	margin: 0 0 0 5px;
	padding: 0 4px 0 4px;
	min-width: 40px;
	background-color: #1c1c1c;
	border: 1px solid #333;
	border-radius: 3px;
	color: #fe2e64;
	text-align: center;
	height: 18px;
	line-height: 18px;
}

.disc {
	margin-bottom: 10px;
	padding: 3px;
}

.disc .ids {
	color: #fe2e64;
}

.release {
	overflow: hidden;
}

.release .albumart {
	float: left;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border: 1px solid #c1c1c1;
	border-radius: 3px;
}

.release .albumart img {
	display: block;
	height: 100px;
	width: 100px;
}

.release .info {
	float: left;
	margin-left: 10px;
}

.release .info span {
	display: inline-block;
	margin-top: 1px;
	margin-right: 6px;
	padding: 0 1px 0 1px;
	color: #58d3f7;
	background-color: #1c1c1c;
}
